@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
header {
    display: flex;
    align-items: center;
    height: 15vh;
    position: sticky;
    top:0;
    background-color: #FFFFFF;
    z-index: 1;
}

header nav {
    width: 80%;

}



.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuList {
    display: flex;
    justify-content: space-evenly;
   

}


.menuList a {
    font-size: 1.2vw;
    text-decoration: none;
    color: #9767A9;

}


.menuMobile {
    display: none;
}
.menuList a:hover{
    font-weight: bold;
    cursor: pointer;
   
}

input {
    border-radius: 50px ;
    width: 13vw;
    height: 4vh;
    text-indent: 30px;
    border: 3px solid #9767A9;
   
}

input::placeholder {
    font-size: 1.1vw;
    text-align: center;
    background-image: url('../assets/images/lupa.png');
    background-repeat: no-repeat;
    background-position: 5%;

}
.container_icons{
    width:15%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;

      
  }
  .icons{
      width: 2vw;
     
  }

.banner{
    width: 100%;
    height: 85vh;
    background-image: url('../assets/images/cacho-man.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    background-position-x: center;
    justify-content:space-evenly;
    

}

.banner_title{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner_title h1{
    color: #FFFFFF;
    font-family:'Playfair Display', serif; 
    font-size: 6vw;
    width: 30%;
   
}

.banner_title h2{
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: 300;
    width: 25%;
}
@media (max-width:400px){
    nav, input, .container_icons { 
        display: none;

    }
    .menuMobile{
        display: initial;
        height: 100%;

    }
    .menuMobile img{
        width: 100%;
    }
    .menu{
       
        height: 100%;
    
        
    }
    header{
        height: 45px;
    }
    .logo{
        position: absolute;
        left:50%;
        transform:translateX(-50%);

        

    }
.logo img{
    width: 15vw;
} 


.banner{
    background-position: 40%;
    align-items: flex-start;

}

.banner_title{
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    align-items: flex-start;
   
    
}
.banner_title h1{
    font-size: 14vw;
     width: 57vw;
}
.banner_title h2{
    width:70vw;
    font-size: 6vw;
}

.mobileSection{
    display: flex;
    background-color: #9767A9;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh
}
.mobileSection--title{
    font-family: 'Playfair Display', serif;
    width: 69.5vw;
    color: #FFFFFF;
}
.containerText{
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: space-between;
    
    
    }
    .paragraphOne{
    width: 69.5vw;
    }
    
    .paragraphTwo{
    width: 69.5vw;
    }
    
    .paragraphThree{
    width: 69.5vw;
    height: 16vh;
    
    }
    
    .paragraphOne, .paragraphTwo, .paragraphThree{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    }
   
    .secondSection--title{
        display: none;

    }

    .secondSection--paragraph{
       display: none;
    }
}



.images-left{
    width:47%;
    position:relative;
    top: -120px;
    right: -3%;
    

}
.images-left img{
    width:100%;
  
  
}
.steps-img{
    margin-bottom: 80px;
}

.textSteps{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    top: 15%;
    right: 20%;
    height: 540px;
}   

.steps h2{
    width: 24vw;
    margin: 2vh;
    color:#FFFFFF;
    font-size: 2.2vw;
    font-family:'Playfair Display', serif; 
}
.steps p{
    margin: 2vh;
    font-size:1.2vw;
    font-weight: 300;
    color:#FFFFFF;

}

.textSteps-third{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    height: 360px;
    top: 50%;
    left: 10%;
}

.textSteps-third h2{
    width: 19vw;
    
}
.textSteps-fifth{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    height: 460px;
    top: 82%;
    left: 10%;
}

.images-right{
    position: absolute;
    width: 47%;
    top: 180%;
    left: 50%;
    

}

.images-right img{
    width:100%;
}

.textSteps-second{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    height: 430px;
    top: 12.5%;
    left: 15%

}

.textSteps-fourth{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    height: 350px;
    top: 45%;
    left: 15%

}

.textSteps-fourth h2{
    width:40vw;
}

.textSteps-sixth{
    background-color: #9767A9;
    width:70%;
    position:absolute;
    height: 350px;
    top: 76%;
    left: 15%
}


.galleryImg{
    display: flex;
}

.secondSection{
    height: 45vh;
    background-color:#9767A9;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.secondSection--title{
    font-family:'Playfair Display', serif; 
    color: #FFFFFF;
    font-size: 4vw;
    width: 57vw;
    
}
.secondSection--paragraph{
    color: #FFFFFF;
    width: 32vw;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 4vh;

}

.mobileSection{
    display: none;
}
